#root {
    margin: 0;
    padding: 0;
    --primaryColor: #639FA5;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    margin: 0; 
}