.App {
  margin: 0;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* nav{
  display:flex;
  justify-content: center;
  align-items: center;
  background: rgb(73,79,82);
  color: white;
  text-decoration: none;
  list-style : none;

} */
